<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  <add name="DBcovConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DBcov.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
  <add name="DBcovProd" connectionString="Server=localhost;Database=DBCOV.MDF;User ID=covcake;Password=pCd14sVk" providerName="System.Data.SqlClient" />
</connectionStrings>