<appSettings>
<clear />

<!-- LOG4NET config -->
<add key="log4net.Internal.Debug" value="true"/>
<!--________________-->  
  
<add key="siteName" value="CoVoyage.net" />
<add key="siteUrl" value="http://www.covoyage.net" />
<add key="siteHost" value="www.covoyage.net" />
  
<add key="IISVersion" value="7" />

<!-- SMTP/EMAIL PARAMS
<add key="smtpHost" value="smtp.free.fr" />
<add key="smtpLogin" value="codjovi" />
<add key="smtpPassword" value="kalistos" />
<add key="smtpSSL" value="true" />
-->

  <add key="smtpHost" value="smtp.gmail.com" />
  <add key="smtpLogin" value="admin@covoyage.net" />
  <add key="smtpPassword" value="pCd14sVk" />
  <add key="smtpSSL" value="true" />


  <add key="siteAdminEmail" value="admin@covoyage.net" />
<add key="siteContactEmail" value="contact@covoyage.net" />
<add key="siteNotifierEmail" value="notifications@covoyage.net" />
<add key="siteProjectAlertEmail" value="alerte_voyages@covoyage.net" />
  
<add key="defaultPasswordLenght" value="7"/>

<!-- l'enregistrement requiere une confirmation --> 
<add key="confirmRegistration" value="false"/>
  
<!-- delais d'envoi des mail de noticiation d'inscription en secondes -->
<add key="subscriptionNotificationDelay" value="1800"/>
  
<add key="photoStoragePath" value="~/FileStorage/Photos" />
<add key="userPhotoStorageFolder" value="~/FileStorage/Photos/UserPictures" />
<add key="defaultUserPhotoName" value="DefautUserPhoto.jpg" />

<add key="alertSenderPass" value="pCd14sVk"/>
<add key="siteSlogan" value="Partez ensembles avec coVoyage.net ;)" />
<add key="rememberLogin" value="true" />
<add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />

  
  
<!-- USER PHOTO PARAMS-->
<add key="userPhotoFullPercent" value="40"/>
<add key="userPhotoFullHeight" value="604"/>
<add key="userPhotoFullWidth" value="604"/>

<add key="userPhotoTinyHeight" value="45"/>
<add key="userPhotoTinyWidth" value="30"/>
</appSettings>
